<header>
  <div class="container">
    <div class="row">
      <div class="logo"><img src="assets/logo.png" alt="logo"></div>
      <div class="seach" >
          <i class="material-icons find"
              (click)="_seach()">
            search
          </i>
        <input matInput type="text" placeholder="Поиск" (keyup.enter)="_seach()" [(ngModel)]="seachValue">
        <i class="material-icons clear"
           *ngIf="seachValue"
          (click)="seachValue = ''">clear
        </i>
        <div class="seach_result" *ngIf="seach_menu">
          <ul>
            <li>
              <button mat-button>text</button>
            </li>
            <li>
                <button mat-button>text2</button>
              </li>
          </ul>
        </div>
      </div>
      <nav>
        <ul class="menu">
          <li><a mat-button href="">Новости</a></li>
          <li><a mat-button href="">Случайное</a></li>
          <li><a mat-button href="">Уведомления</a></li>
          <li>
            <button mat-button (click)="_tougle()">userNick</button>
            <ul class="sub-menu" *ngIf="user_menu">
              <li>
                <button mat-button (click)="_exit()">Выход</button>
              </li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>
  </div> 
</header>

<main>
    <router-outlet></router-outlet>
   
</main>

