<mat-drawer-container [hasBackdrop]="true">
    <mat-drawer #drawer [mode]="'over'">
      <button mat-button (click)="_closeSeach(); drawer.toggle()" [routerLink]="[ '/news' ]">Новости</button >
      <button mat-button (click)="_myPage(); drawer.toggle()">Моя страница</button>
      <button mat-button (click)="_navigate_edit();drawer.toggle()">Редактировать</button>
      <button mat-button (click)="_exit();drawer.toggle()">Выход</button>
    </mat-drawer>
    <mat-drawer-content>
<header >
  <div class="container">
    <div class="row">
      <div 
        class="logo"
        (click)="_myPage()"
        >
        <img src="assets/logo.png" alt="logo">
      </div>
      <div class="seach" >
          <i class="material-icons find">
            search
          </i>
        <input 
          matInput
          type="text" 
          placeholder="Поиск" 
          [(ngModel)]="seachValue"
          #seach
          autocomplete="off"
          >
        <i class="material-icons clear"
          *ngIf="seachValue"
          (click)="_closeSeach()">clear
        </i>
        <div class="seach_result" *ngIf="seachMenu || nothingFinds">
          <ul>
            <li *ngFor="let user of findUsers">
              <button (click)='_navigate_user(user)' mat-button>{{user.nickname}}</button>
            </li>
            <li class="nothing-finds" *ngIf="nothingFinds">
              Никого не найдено(
            </li>
          </ul>
        </div>
      </div>
      
      <nav class="desktop-nav">
        <ul class="menu">
          <li class="mob-seach">
            <button 
              mat-button 
              (click)="_open_seach()">
              Поиск
            </button>
          </li>
          <li
            *ngIf="this.userService.currentUserId">
            <a 
              mat-button 
              (click)="_closeSeach()" 
              [routerLink]="[ '/news' ]">
              Новости
            </a>
          </li>
          <li>
            <button 
              mat-button 
              id="user_menu_button" 
              *ngIf="this.userService.currentUserId"
              [matMenuTriggerFor]="menu">
              Профиль
            </button>
            <mat-menu [overlapTrigger]="false" #menu="matMenu" class="sub-menu">
              <button mat-button  class="sub-menu-btn" (click)="_myPage()">Моя страница</button>
              <button mat-button  class="sub-menu-btn" (click)="_navigate_edit()">Редактировать</button>
              <button mat-button  class="sub-menu-btn" (click)="_exit()">Выход</button>
            </mat-menu>
            
          </li>
        </ul>
      </nav>
      <div class="mob-menu-wrapper">
        <button mat-icon-button>
          <i 
            class="material-icons mob-menu"
            (click)="this.userService.currentUserId? drawer.toggle() : this.main.clientError.togleError('Сначала войдите')">
            menu
          </i>
        </button>
      </div>
      

    </div>
  </div> 
</header>

    <main>
        <router-outlet></router-outlet>
    </main>
  </mat-drawer-content>
</mat-drawer-container>