@import "../../../var";

header .row{
    display: grid;
    grid-template-columns: 50px 1fr 400px;
}
.logo{
    height: 100%;
    img{
        max-width: 100%;
        max-width: 100%;;
    }
}
header{
    z-index: 100;
    background-color: #fff;
}
header, .row{
    height: 50px;
}
.seach{
    display: flex;
    align-items: center;
    input{
        width: 90%;
        height: 30px;
        padding:  3px 3px 3px 28px;
        margin-left: 5%;
        border-radius: 4px;
        background-color: $bg;
        border: 1px solid transparent;
        &:focus{
            border: 1px solid $primary-l;
        }
        
    }
    position: relative;
    height: 100%;
    i{
        position: absolute;
        color: $icon;
        font-size: 1.1em;
        &:hover{
            cursor: pointer;
        } 
    }
    .find{
        transition:  all 0.3s ease;
        left: 7%;
    }
    
    .clear{
        right: 7%;
        &:hover{
            cursor: pointer;
        }
    }
}
nav{
    height: 100%;
}
.menu{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-around;
    li{
        list-style: none;
        position: relative;
    }
}
main{
    margin-top: 50px;
    float: left;
    width: 100%;
}
.sub-menu{
    opacity: 1;
    width: 116px;
    left: -30px;
    padding: 0.5em 0;
    background-color: #fff;
    position: absolute;
    box-shadow: 0 0 2px 1px $primary-d;
    box-sizing: content-box;
    li{
        width: 100%;
        
    }
    button{
        width: 100%;
    }
}
.seach_result{
    width: 88%;
    left: 6%;
    position: absolute;
    top: 50px;
    background-color: #fff;
    padding: 0.5em 0;
    box-shadow: 0 0 2px 1px #0069c0;
    li{
        list-style: none;
        width: 100%;
        button{
            line-height: 20px;
            width: 100%;
            display: flex;
            font-weight: 400;
            border-radius: 0;
        }
    }
}