<mat-drawer-container [hasBackdrop]="true">
    <mat-drawer #drawer [mode]="'over'">
      <button mat-button (click)="_close_all(); drawer.toggle()" [routerLink]="[ '/news' ]">Новости</button >
      <button mat-button (click)="_my_page(); drawer.toggle()">Моя страница</button>
      <button mat-button (click)="_navigate_edit();drawer.toggle()">Редактировать</button>
      <button mat-button (click)="_exit();drawer.toggle()">Выход</button>
    </mat-drawer>
    <mat-drawer-content>
<header >
  <div class="container">
    <div class="row">
      <div 
        class="logo"
        (click)="_my_page()"
        >
        <img src="assets/logo.png" alt="logo">
      </div>
      <div class="seach" >
          <i class="material-icons find">
            search
          </i>
        <input 
          matInput
          type="text" 
          placeholder="Поиск" 
          [(ngModel)]="seachValue"
          #seach
          autocomplete="off"
          >
        <i class="material-icons clear"
          *ngIf="seachValue"
          (click)="_close_seach()">clear
        </i>
        <div class="seach_result" *ngIf="seach_menu || nothing_finds">
          <ul>
            <li *ngFor="let user of find_users">
              <button (click)='_navigate_user(user)' mat-button>{{user.nickname}}</button>
            </li>
            <li class="nothing-finds" *ngIf="nothing_finds">
              Никого не найдено(
            </li>
          </ul>
        </div>
      </div>
      
      <nav class="desktop-nav">
        <ul class="menu">
          <li class="mob-seach">
            <button 
              mat-button 
              (click)="_open_seach()">
              Поиск
            </button>
          </li>
          <li><a mat-button (click)="_close_all()" [routerLink]="[ '/news' ]">Новости</a></li>
          <li>
            <button mat-button id="user_menu_button" (click)="_tougle_menu()">Профиль</button>
            <ul class="sub-menu" id="user_menu" *ngIf="user_menu">
              <li>
                <button mat-button (click)="_my_page()">Моя страница</button>
                <button mat-button (click)="_navigate_edit()">Редактировать</button>
                <button mat-button (click)="_exit()">Выход</button>
              </li>
            </ul>
          </li>
        </ul>
      </nav>
      <div class="mob-menu-wrapper">
        <button mat-icon-button>
          <i 
            class="material-icons mob-menu"
            (click)="drawer.toggle()">
            menu
          </i>
        </button>
      </div>
      

    </div>
  </div> 
</header>

    <main (click)="close($event)" >
        <router-outlet></router-outlet>
    </main>
  </mat-drawer-content>
</mat-drawer-container>
