<section class="news">
  <div class="container">
    <div class="row">
      <div class="posts">
        <div 
          class="content-block  people-slider" 
          *ngIf="usersRecommendation && usersRecommendation.length != 0">
         
            <swiper 
              class="carousel" 
             
              >
              <div 
                class="item-carousel-container"  
                *ngFor="let user of usersRecommendation; let i = index"
                (click)="navigate_user($event,user.id)">
                  <div class="item-carousel-img-wrapper">
                    <img 
                      [src]="this.userService.getUserPhoto(user.photoSrc)"
                      [alt]="user.name + user.lastname">
                  </div>
                  <div class="item-carouse-nick">{{user.nickname}}</div>
                  <div class="item-carouse-name">{{user.name}} {{user.lastname}}</div>
                  <button 
                    mat-stroked-button
                    color="primary"
                    class="subscribe-button"
                    id="subscribe-button"
                    (click)="_subscribe(user.id, i)">
                    {{subString[i]}}
                  </button>
                </div>
              
              
            </swiper>
            <button class="prev"></button>
            <button class="next"></button>
        </div>
        <div class="content-block empty" *ngIf="loader">
          <mat-spinner class="loader"  [diameter]='40' ></mat-spinner>
        </div>
        <app-post *ngFor="let post of this.postService.posts; let i = index" [post]='post' [i]='i'>
        </app-post>
        <div class="content-block empty" *ngIf="this.postService.posts && this.postService.posts.length == 0">
          Тут пока ничего нет, подпишитесь на кого-то
        </div>
      </div>
      <app-aside></app-aside>
    </div>
  </div>
</section>