<aside class="content-block">
  <div class="head">
    <div class="left">YS
      <div class="stack-logo">
        <img src="assets/angular.png" alt="angular">
      </div>
    </div>
    <div class="right">RM
        <div class="stack-logo">
          <img src="assets/rails.png" alt="rails">
        </div>
    </div>
  </div>
  <div class="body">
    <ul class="left">
      <li>
        <a href="https://github.com/Its4me" target="_blank">
            <div class="img-wrapper">
              <img src="assets/github.png" alt="github">
            </div>
          <div class="text">GitHub</div>
        </a>
      </li>
      <li>
          <a href="https://t.me/OhMyTime" target="_blank">
              <div class="img-wrapper">
                <img src="assets/telegram.png" alt="Telegram">
              </div>
            <div class="text">Telegram</div>
          </a>
      </li>
    </ul>
    <ul class="right">
      <li>
          <a href="https://github.com/Ruslanwww" target="_blank">
              <div class="img-wrapper">
                <img src="assets/github.png" alt="github">
              </div>
            <div class="text">GitHub</div>
          </a>
      </li>
      <li>
        <a href="https://t.me/rm_user" target="_blank">
            <div class="img-wrapper">
              <img src="assets/telegram.png" alt="Telegram">
            </div>
          <div class="text">Telegram</div>
        </a>
      </li>
    </ul>
  </div>
</aside>