<article id="full-post" (click)="close($event)">
    <div class="container">
        <div class="row">
            <div class="head_owner">
                <div class="head_owner_img">
                    <img [src]="post.ownerPhoto" [alt]="this.userService.user.name">
                </div>
                <div class="head_descr">
                    <p class="post-nick">{{post.ownerNick}}</p>
                    <p class="post-date">
                        {{post.date | date: 'LL.MM.yyyy в HH.mm'}}
                    </p>
                </div>
            </div>
            <div class="post-wrapper-img" *ngIf="post.photo_src">
                <img [src]='post.photo_src' alt="">
            </div>
            <div class="post-wrapper-bottom">
                <div class="post-wrapper-description">
                    <p>
                        {{post.description}}
                    </p>
                </div>
                <div class="likes" (click)="_like()">
                    <i class="material-icons" [ngClass]="{'active-like': post.activeLike}">
                        favorite
                    </i>
                    <div class="likes-count">{{post.likes_count}}</div>
                </div>
               
            </div>
        </div>
    </div>
</article>