<article id="full-post" (click)="close($event)">
    <div class="container">
        <div class="row" >
            <div class="post-wrapper-img">
                <img 
                [src]='post.photo_src'
                 alt="">
            </div>
            <div class="post-wrapper-bottom">
                <div class="likes" (click)="_like()">
                    <i class="material-icons" [ngClass]="{'active-like': activeLike}">
                        favorite
                    </i>
                    <div class="likes-count">{{post.likes_count}}</div>
                </div>
                <div class="post-wrapper-description">
                    <p>
                        {{post.description}}
                    </p>
                </div>
            </div>
        </div>
    </div>
</article>
