@import "../../../var.scss";
aside{
    position: sticky;
    max-height: 200px;
    top: calc(50px + 1em);
}
.row{
    display: grid;
    grid-template-columns: 6fr 2fr;
    grid-column-gap: 1em;
}
section{
    margin-top: 1em;
}
li{
    list-style: none;
}
.logo{
    flex: 0 0 70px;
    float: left;
    height: 70px;
    img{
        width: 100%;
        max-height: 100%;
        border-radius: 50%;
    }
}
.user{
    width: 100%;
    display: block;
    display: flex;
    background-color: #fff;
    border: none; 
    transition: all 0.1s;
    margin-bottom: 1em;
    
    &:nth-last-child(2), &:last-child{

        margin-bottom: 0;
    }
   &:hover{
       cursor: pointer;
       box-shadow: 0 1px 2px 0 #000;
   }
  
   
}
.user-wrapper{
    padding: 1em;
    width: 100%;
    display: flex;

}

.nick{
    float: left;
    width: 100%;
    font-size: 1.3em;
}
.name{
    float: left;
    width: 100%;
    color: $icon;
}
.user-info{
    width: 100%;
    align-items: center;
 
    padding: 1em;
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    float: left;
}
.loader{
    width: 50px;
    margin: 0 auto;
}
.subs{
    margin-bottom: 1em;
}
.user-none{
    
    justify-content: center;
}
.subscribe-btn{
    width: 100px;
}
@media (max-width: 992px){
 .row{
    grid-template-columns: 1fr;
 }
} 
@media (max-width: 560px){
    .subs{
        font-size: 13px;
    }
}