<section class="subscribers">
  <div class="container">
    <div class="row">
        <div class="content-block subs">
          <mat-spinner class="loader" *ngIf="loader" [diameter]='40' ></mat-spinner>
          <ul>
            <li class="user" *ngFor="let user of users; let i = index" > 
              <div matRipple class="user-wrapper" (click)='_navigate_user(user.id)'>
                <div class="logo">
                  <img src='{{user.imageSrc}}' alt='{{user.name}} {{user.lastname}}'>
                </div>
                <div class="user-info">
                    <div class="nick">{{user.nickname}}</div>
                    <div class="name">{{user.name}} {{user.lastname}}</div>
                </div>
                
              </div>
              <button 
                class="subscribe-btn" 
                (click)='_unsubscribe(user.id, i)' 
                mat-button>
                Отписка
              </button>
            </li>
            <li class="user">
              <div matRipple class="user-wrapper" *ngIf="!users[0] && !loader">
                Пока тут пусто, но надеюсь вы хорошо покушали
              </div>
            </li>
          </ul>
        </div>

        <aside class="content-block">

        </aside>
      </div>
    </div>
</section>