@import "../../../var.scss";


.head-info{
    width: 100%;
    display: grid;
    grid-template-columns: 180px 1fr;
    grid-template-rows: 180px 1fr;
    grid-column-gap: 1em;
    
}
.wrapper-for-img{
    position: relative;
    overflow: hidden;
    user-select: none;
    border-radius: 50%;
    img{
        
        max-width: 100%;
    }
    &:hover .new-img{
        opacity: 1;
        visibility: visible;
        cursor: pointer;
    }
}
.sub-button{
    width: 119px;
}
.new-img{
    position: absolute;
    width: 100%;
    display: flex;
    transition: all 0.4s ease-in-out;
    top: 0;
    opacity: 0;
    visibility: hidden;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.8);
    i{
        font-size: 65px;
        color: #fff;
    }
}
.head-info-user{
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}
.head-info-user-left-nick{
    font-size: 1.8em;
}
.head-info-user-left-name{
    font-size: 1em;
    color: $icon;
    margin-bottom: 0.5em;
}
.head-info-user-right{
    display: flex;
    justify-content: space-around;
}
section{
    margin-top: 1em;
}
.content .row{
    display: grid;
    grid-template-columns: 6fr 2fr;
    grid-column-gap: 1em;
}
.content-all-newPost{
    width: 100%;
    margin-bottom: 1em;
}

.textarea-wrapper{
    width: 100%;
}
.content-all-newPost-bottom{
    float: left;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    button, i{
        margin-left: 1em;
    }
    i{
        cursor: pointer;
    }
}
.spinner-post{
    margin: 3px 42.5px;
}
.wrapper-preview-img{
    max-width: 200px;
    height: 70px;
    margin-right: 20px;
    position: relative;
    img{
        float: right;
        max-height: 100%; 
        max-width: 100%;
       
    }
    &:hover .close-img{
        opacity: 1;
        visibility: visible;
    }
}
.close-img{
    position: absolute;
    opacity: 0;
    visibility: hidden;
    top: 0;
    transition: all 0.3s ease-in-out;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.8);
    i{
        color: #fff;
        margin: 0;
    }
}
.post{
    margin-bottom: 1em;
    width: 100%;
    text-align: center;
}

@media (max-width: 992px){
    .content .row{
        grid-template-columns: 1fr;
    }
    .head-info{
        grid-template-columns: 120px 1fr;
        grid-template-rows: 120px 1fr;
    }
    .head-info-user-right{
        flex-wrap: wrap;
        align-content: space-around;
        height: 100%;
        button{
            width: 100%; 
        }
    } 
    .head-info-user{
        grid-template-columns: 3fr 1fr;
    }
    .close-img{
        opacity: 1;
        visibility: visible;
    } 
}
.mob-uploader{
    display: none;
}

@media (max-width: 560px){
    .head-info{
        display: block;
    }
    .wrapper-for-img{
        width: 200px;
        height: 200px;
        display: block;
        margin: 0 auto;
        
    }
    .head-info-user{
        display: block;
    }
    .head-info-user-left{
        margin: 1em 0;
        text-align: center;
    }
    .content-all-newPost-bottom{
        display: block;
        button{
            width: 100%;
            margin-left: 0;
        }
        .mob-none{
            display: none;
        }
    }
    .mob-uploader{
        display: block;
    }
    .post-btn{
        margin-top: 1em;
    }
    .wrapper-preview-img{
        margin: 0 auto 1em;
        height: auto;
        width: 200px;
    }
    .spinner-post{
        float: left;
        margin: 1em 45% 0;
    }
    .head-info-user-right{
        button:first-child{
            margin-bottom: 1em;
        }
    }
} 
