<section>
    <div class="container">
        <div class="row">
            <div class="content-block head-info">
                <div class="wrapper-for-img">
                    <img 
                        [src]="this.userService.user.photoSrc" 
                        alt="user-photo">
                    <div class="new-img" *ngIf="this.userService.check_me()">
                        <i 
                            class="material-icons"
                            (click)="user_photo.click($event)">
                            photo_camera
                        </i>
                    </div>
                </div>
                <input 
                    class="none"
                    type="file"
                    name="photo"
                    (change)="_update_photo($event)"
                    #user_photo
                >
                <div class="head-info-user">
                    <div class="head-info-user-left">
                        <div class="head-info-user-left-nick">{{this.userService.user.nickname}}</div>
                        <h1 class="head-info-user-left-name">
                                {{this.userService.user.name}} 
                                {{this.userService.user.lastname}}
                        </h1>
                        <button 
                            mat-stroked-button
                            class="sub-button"
                            (click)="_subscribe()"
                            color="primary"
                            *ngIf="!this.userService.check_me()"
                            >
                            {{sub_string}}
                        </button>
                    </div>
                    <div class="head-info-user-right">
                        <button 
                            mat-stroked-button 
                            (click)="_navigate_follower()" 
                            color="primary">
                            Подписки ( {{follower}} )
                        </button>
                        <button 
                            mat-stroked-button 
                            (click)="_navigate_subscribers()" 
                            color="primary">
                            Подписчики ( {{subCount}} )
                        </button>
                       
                    </div>
                </div>
            
            </div>
        </div>
    </div>
</section>
<section class="content">
    <div class="container">
        <div class="row">
            <div class="content-all">
                <div 
                    class="content-block content-all-newPost"
                    *ngIf="this.userService.check_me()"
                    >   
                    
                    <mat-form-field class="textarea-wrapper" appearance="outline">
                        <mat-label>
                            Что у вас нового?
                        </mat-label>
                        <textarea matInput
                                placeholder="Расскажите нам"
                                [(ngModel)]="postText">
                        </textarea>      
                    </mat-form-field>
                    <div class="content-all-newPost-bottom">
                        <div class="wrapper-preview-img" *ngIf="postImage">
                            <img [src]="postImage" alt="Post preview">
                            <div class="close-img">
                                <i 
                                    class="material-icons"
                                    (click)='_delete_img()'
                                    >
                                    close
                                </i>
                            </div>
                        </div>
                        <input 
                            class="none"
                            type="file"
                            name="photo"
                            (change)="_upload_photo($event)"
                            #post_photo
                            >
                        <i 
                            class="material-icons mob-none"
                            (click)="post_photo.click($event)"    
                        >
                        add_a_photo</i>
                        <button 
                            *ngIf="!postLoader && !postImage"
                            mat-raised-button
                            color="primary"
                            class="mob-uploader"
                            (click)="post_photo.click($event)"
                            >
                            Добавить фото
                    </button>
                        <button 
                            *ngIf="!postLoader"
                            mat-raised-button
                            color="primary"
                            (click)="_add_post()"
                            >
                            Запостить
                        </button>
                        <mat-spinner
                            *ngIf="postLoader"
                            class="spinner-post"
                            diameter="30"
                            >
                        </mat-spinner>
                    </div>
                </div>
                <div class="content-all-posts">
                    <app-post *ngFor="let post of this.postService.posts; let i = index"
                                [post]='post' [i]='i'>
                    </app-post>
                    <article class="content-block post" *ngIf="!this.postService.posts[0]">
                        Тут пока нет записей
                    </article>
                </div>
            </div>
            <app-aside></app-aside>
        </div>
    </div>
</section>
