<section class="edit">
    <div class="container">
        <div class="row">
            <div class="content-block edit-profile">
                <div class="edit-head">
                    <div class="edit-photo">
                        <div class="wrapper-for-img">
                            <img 
                                [src]="this.userService.getUserPhoto(user.photoSrc)"
                                alt="user-photo">
                            <div class="new-img"> 
                                <i class="material-icons" (click)="user_photo.click($event)">
                                    photo_camera
                                </i>
                            </div>
                        </div>
                        <input 
                            class="none" 
                            type="file" 
                            name="photo" 
                            (change)="_update_photo($event)" 
                            #user_photo>
                    </div>
                </div>
                <div class="edit-body">
                    <div class="edit-input-wrapper">
                        <mat-form-field class="edit-input">
                            <input 
                                matInput 
                                placeholder="Имя" 
                                [(ngModel)]="user.name" 
                                value='{{user.name}}'>
                        </mat-form-field>
                    </div>
                    <div class="edit-input-wrapper">
                        <mat-form-field class="edit-input">
                            <input 
                                matInput 
                                placeholder="Фамилия" 
                                [(ngModel)]="user.lastname" 
                                value='{{user.lastname}}'>
                        </mat-form-field>
                    </div>
                    <div class="edit-input-wrapper">
                        <mat-form-field class="edit-input">
                            <input 
                                matInput 
                                type="Email" 
                                placeholder="Email" 
                                [(ngModel)]="user.email" 
                                value='{{user.email}}'>
                        </mat-form-field>
                    </div>
                    <div class="edit-input-wrapper">
                        <mat-form-field class="edit-input">
                            <input 
                                matInput 
                                placeholder="Ник" 
                                [(ngModel)]="user.nickname"
                                value='{{user.nickname}}'>
                        </mat-form-field>
                    </div>
                    <button 
                        *ngIf="!loaderSave"
                        mat-raised-button
                        class="save-btn"
                        color="primary"
                        (click)="_edit_data()">
                        Сохранить
                      
                    </button>
                    <div class="clear"></div>
                    <div class="loader-wrapper">
                        <mat-spinner 
                            *ngIf="loaderSave" 
                            class="loader"  
                            [diameter]='36'>
                        </mat-spinner>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</section>