<article class="content-block post" >
  <div class="head">
    <div class="head_owner">
      <div class="head_owner_img">
        <img  [src]="this.userService.user.photoSrc"  [alt]="this.userService.user.name">
      </div>
      <div class="head_descr">
          <p class="post-nick">nickname</p>
          <p class="post-date">
            {{post.get_time()}}
          </p>
      </div>
      
    </div>
    <i class="material-icons" *ngIf="post.owner_id == this.userService.currentUserId">
        expand_more
    </i>
    <ul class="edit" >
      <li>
        <button mat-button  (click)="_delete()">
          Удалить
         </button>
      </li>
    </ul>
  </div>
  <div class="description">
    <p>
      <span *ngIf="post.description">{{post.description}}</span>
    </p>
    
  </div>
  <div class="img-wrapper" 
      *ngIf="post.photo_src"
      (click)="_open_post()"
    >
    <img [src]="post.photo_src" alt="post.description">
  </div>
  <div class="bottom-panel">
    <div class="likes" (click)="_like()">
      <i class="material-icons"
        [ngClass]="{'active-like': post.activeLike}">
        favorite
      </i>
      <div class="likes-count">{{post.likes_count}}</div>
    </div>
  </div>
</article>