@import "../../../var";

article{
    margin-top: 1em;
    width: 100%;
}
.bottom-panel{
    float: left;
    padding-top: 0.5em;
    width: 100%;
}
.description{
    float: left;
    width: 100%;   
    position: relative;          
    p{
        margin-bottom: 1em;
    }
    

   
}
.edit:hover{
    opacity: 1;
    visibility: visible;
    cursor: pointer;
}
.edit{
    opacity: 0;
    visibility: hidden;
    position: absolute;
    transition: all 0.3s ease; 
    right: 0;
    padding: 0.5em 0;
    background-color: #fff;
    top: 22px;
    box-shadow: 0 0 2px 1px $primary-d;
    z-index: 50;
    li{
       list-style: none;
        button{
            width: 100%;
        }
    }
}
.img-wrapper{
    border-bottom:  1px solid #e7e8ec;
    padding-bottom: 0.5em;
    img{
        max-width: 100%;
    }
}
.head{
    width: 100%;
    float: left;
    position: relative;
    display: flex;
    i{
        flex: 0 0 20px;
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
        &:hover{
            cursor: pointer;
        }
        
    }
    i:hover + .edit{
        opacity: 1;
        visibility: visible;
        cursor: pointer;
    }
    
}
.head_owner{
    width: 100%;
    float: left;
    display: flex;

}
.head_owner_img{
    width: 70px;
    height: 70px;
    flex: 0 0 70px;
    border-radius: 50%;
    overflow: hidden;
    float: left;
    img{
        min-width: 100%;
        max-height: 100%;
    }
}
.head_descr{
    display: flex;
    align-content:  center;
    flex-wrap: wrap;
    width: 100%;
    padding-left: 0.5em;
    
}
.post-date{
    width: 100%;
    color: $icon;
    font-size: 0.8em;
}
.post-nick{
    font-size: 1.2em;
    width: 100%;
}

