@import '~@angular/material/theming';

@include mat-core();

$candy-app-primary: mat-palette($mat-blue);
$candy-app-accent:  mat-palette($mat-yellow, A200, A100, A400);

$candy-app-warn:    mat-palette($mat-red);

$candy-app-theme: mat-light-theme($candy-app-primary, $candy-app-accent, $candy-app-warn);

@include angular-material-theme($candy-app-theme);

@import "var";
body{
    margin: 0;
    padding: 0;
    font-size: 16px;
    background-color: $bg;
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    float: left;
    width: 100%;
    
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
section{
    width: 100%;
    float: left;
}
header{
    width: 100%;
    box-shadow: 0 -5px 9px 2px #000;
    position: fixed;
}
.container{
    width: 950px;
    margin: 0 auto;
    padding: 0 15px;
}
.row{
    width: 100%;
    float: left;
}
.content-block{
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 0 1px 0 $primary-d;
    float: left;
    padding: 1em;
}
.none{
    display: none;
}
#mat-tab-label-0-1,#mat-tab-label-0-0{
    width: 50%;
    min-width: 0;
}
.mat-tab-body.mat-tab-body-active{
    overflow-x: inherit!important;
    overflow-y: inherit!important;
}
.mat-tab-body-content, .mat-tab-body-wrapper{
    overflow: visible!important;
}
.mat-progress-bar-fill::after{
  
        background-color: #72b080;
        background-image: -webkit-gradient(linear, 0% 0%, 100% 0%,color-stop(0, rgb(228, 245, 2)),color-stop(1, rgb(0, 106, 254)));
        /* Android 2.3 */
        background-image: -webkit-repeating-linear-gradient(left,rgb(228, 245, 2) 0%,rgb(0, 106, 254) 100%);
        /* IE10+ */
        background-image: repeating-linear-gradient(to right,rgb(228, 245, 2) 0%,rgb(0, 106, 254) 100%);
        background-image: -ms-repeating-linear-gradient(left,rgb(228, 245, 2) 0%,rgb(0, 106, 254) 100%);
    
    
}
.error{
    position: fixed;
    z-index: 150;
    width: 200px;
    left: 50%;
    margin-left: -100px;
    padding: 0.7em;
    background-color: $error;
    top: 1em;
    color: #fff;
    border-radius: 4px;
}
.likes{
    float: left;
    display: flex;
    align-items: center;
    i{
        float: left;
        color: $icon;
        transition: all 0.35s ease-in-out;
        &.active-like{
            color: #ea1616e8;
            animation: like 0.35s ease-in-out;
        }
    }
    &:hover{
        cursor: pointer;
    }
    
}
.likes-count{
    float: left;
    margin-left: 0.2em;
}
aside{
    a{
        color: #000;
        text-decoration: none;
    }
}
.cbalink{
    display: none!important;
}
.mat-tab-header-pagination{
    display: none!important;
}
.swiper-button-disabled{
    display: none; 
}
.likes i {
    user-select: none;
}
@keyframes like{
    from{
        transform: scale(1);
    }
    35%{
        transform: scale(1.1);
    }
    80%{
        transform: scale(0.9);
    }
    to{
        transform: scale(1);
    }
}